/*!-----------------------------
  []
  Project: Sentinel
  Version:    1.0
  Last change:   19-06-2023 6:00pm [Home page mockup]
  Developed by:   Yourhustler
  Developer: Gaurav Gupta
  Primary use: 
--------------------------------------------------*/
@use '../abstract/colors' as *; 
@use "../abstract/fonts" as *;

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    transition: 0.2s ease-in ;
    -webkit-transition: 0.2s ease-in ;
    -moz-transition: 0.2s ease-in ;
    -ms-transition: 0.2s ease-in ;
    -o-transition: 0.2s ease-in ;
}
  
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    line-height: 1.3;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color:$clr-white;
    color:$clr-primary;
    font-family: 'Poppins';
    // overflow: hidden;
  }
 
  div,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  fieldset,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
  }
  
  ol,
  ul, li {
    list-style: none;
    font-size: rem(16);
  }
  
  a {
    text-decoration: none;
    color:$clr-white;
  }

  address{
    font-style:normal;
    font-size:100%;
  }

  button{
    font-family: 'Poppins';
    font-weight: 600;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
}

textarea{
  resize: none;
}

::selection{
  background:$clr-primary;
  color:$clr-white;
}
