@use '../abstract/mixins' as *;
@use '../abstract/functions' as *;
@use '../abstract/fonts' as *;
@use '../abstract/colors' as *;

// ===== base and responsive font size  ========

// Breakpoint values for min-width operators.
$breakpoints: (
  sm: em(576),
  md: em(768),
  lg: em(992),
  xl: em(1200),
  xxl:em(1600),
);

// Null is mobile, no breakpoint.
$p-font-sizes: (
  null  : (rem(16), rem(30)), // Font sizes and line height 
  sm: (rem(16), rem(32)),
  md: (rem(16), rem(32)),
  lg: (rem(16), rem(32)),
  xl: (rem(20), rem(34)),
  xxl:(rem(24), rem(38)), 
);

$h1-font-sizes: (
  null  : (rem(44), rem(54)),   
  sm : (rem(56), rem(62)),
  md  : (rem(60), rem(66)),
  lg : (rem(64), rem(70)),
  xl : (rem(64), rem(70)),
  xxl : (rem(72), rem(78)),
);

$h2-font-sizes:(
  null  :(rem(36), rem(42)), 
  sm :(rem(48), rem(54)),
  md :(rem(56), rem(64)),
  lg : (rem(60), rem(68)),
  xl : (rem(60), rem(68)),
  xxl : (rem(64), rem(72)),
);

$h3-font-sizes: (
  null  :(rem(30), rem(40)), 
  sm :(rem(36), rem(48)),
  md :(rem(40), rem(48)),
  lg :(rem(44), rem(52)),
  xl : (rem(48), rem(56)),
  xxl : (rem(56), rem(64)),
);

$h4-font-sizes: (
  null  :(rem(26), rem(38)), 
  sm :(rem(32), rem(42)),
  md :(rem(32), rem(48)),
  lg :(rem(36), rem(42)),
  xl :(rem(40), rem(48)),
  xxl :(rem(48), rem(56)),
);

$h5-font-sizes: (
  null  :(rem(24), rem(40)), 
  sm :(rem(24), rem(40)),
  md :(rem(26), rem(44)),
  lg :(rem(28), rem(42)),
  xl :(rem(32), rem(44)),
  xxl : (rem(40), rem(52)),
); 

$h6-font-sizes: (
  null  : (rem(22), rem(36)),
  sm : (rem(22), rem(36)),
  md : (rem(22), rem(36)),
  lg :(rem(24), rem(38)),
  xl: (rem(28), rem(42)),
  xxl: (rem(32), rem(46)),
); 


@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map{
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}


// ======== adding both font size and font-family mixins====
h1{
    @include font-size($h1-font-sizes);
}

h2{
    @include font-size($h2-font-sizes);
}

h3{
    @include font-size($h3-font-sizes);
}

h4{
    @include font-size($h4-font-sizes);
}

h5{
  @include font-size($h5-font-sizes);
}

h6{
  @include font-size($h6-font-sizes);
}

h1, h2, h3, h4, h5, h6{
  // @include font-heading;
}

p, ul, ol, body{
    @include font-size($p-font-sizes);
    // @include font-body;
}