@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.btn{
    display: inline-block;
    border:none;
    font-size:rem(16);
    padding: em(14) em(36);
    color:$clr-white;
    position: relative;
    overflow: hidden;

    &:hover{
        cursor: pointer;
    }
    @include breakpoint-md{
        font-size:rem(18);
    }
}


.btn--primary{
    background-color:$clr-secondary;
    border:2px solid $clr-secondary;

    &:hover{
        @include transition(all, 0.5s, ease);
        background: transparent;
        border-color: $clr-secondary;
        color:$clr-secondary;
    }
}


.btn--secondary{
    background-color:$clr-white;
    color:$clr-secondary;
    border:2px solid $clr-white;
 
    &:hover{
        background: transparent;
        color:$clr-white;
        @include transition(all, 0.5s, ease);
    }
}



.btn--transparent{
    background: transparent;
    border:1px solid $clr-primary;
    color:$clr-primary;
    padding:em(15) em(42);
    @include transition(0.5s, ease-in-out);
}

.btn--transparent:hover{
    background:$clr-primary;
    color:$clr-white;
}
