@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

.hero--about{
    height: rem(810);
}

.about--heading{
    font-family: 'Poppins extra-bold';
}

.consultation{
    padding-block: em(150);
    background-color: $clr-primary;
    position: relative;
    &::before{
        content:url("./../app/assets/img/clip-img/Path-1.svg");
        position: absolute;
        top: -60px;
        transform: rotate(90deg);
        right: 16px;
        z-index: -1;
    }
}

.revolution{
    padding-block: em(180);
    background-color: $clr-card;
    @include breakpoint-lg{
        padding-block: em(200) em(250);
    }
}

.timeline{
    position: relative;
    width: 100%;
    height: 25vh;
    &::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color:#bebebe;;
        top: 0;
        left: 25px;
        @include breakpoint-md{
            width: 100%;
            height: 2px;
            top: 300px;
        }
    }
    &__wrapper{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: $clr-white;
            border: 8px solid $clr-secondary;
            top: 0;
            border-radius: 50%;
            z-index: 1;
            @include breakpoint-md{
               left: 0;
               top: 285px;
            }
        }
    }
    &__content{
        max-width: 70%;
        width: rem(280);
        padding: em(16) em(32);
        background-color: $clr-white;
        margin: 0 auto;
        @include breakpoint-sm{
            padding: em(25) em(40);
        }
        @include breakpoint-md{
            padding: em(30) em(20);
        }
        @include breakpoint-lg{
            padding: em(40) em(20);
        }
    }
}
