@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.hero--about{
    height: 817px;
}

.about--heading{
    font-family: 'Poppins extra-bold';
}

.consultation{
    padding: 200px 0px 200px;
    background-color: $clr-primary;
    position: relative;

    &::before{
        content:url("../../../app/assets/img/clip-img/Path-1.svg");
        position: absolute;
        top: -60px;
        transform: rotate(90deg);
        right: 16px;
        z-index: -1;
    }
}

.revolution{
    padding: 296px 0px 200px;
    background-color: $clr-card;
}


.timeline{
    position: relative;
    width: 100%;
    height: 70vh;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color:#bebebe;;
        top: 300px;
    }

    &__wrapper{
        position: relative;

        &::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: white;
            border: 8px solid #3965dd;
            top: 285px;
            border-radius: 50%;
            z-index: 1;
            left:0;
        }
    }

    &__content{
        width: rem(280);
        padding: 50px 20px 50px 50px;
        background-color: $clr-white;
    }
}
