@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

.steps{
    background-color:$clr-athens-gray;
    padding-block: em(110) em(180);
    @include breakpoint-md{
        padding-block: em(180) em(250);
    }
    @include breakpoint-lg{
        padding-block: em(235) em(310);
    }
    &__container--desktop{
        display: none;
        @include breakpoint-lg{
            display: block;
        }
    }
    &__container--mobile{
        display: block;
        @include breakpoint-lg{
            display: none;
        }
    }
    &__list-container{
        position: sticky;
        top: 5%;
        @include breakpoint-lg{
            top: 15%;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        min-height: 100%;
        height:rem(400);
        z-index: 1;
        &::before{
            content:"";
            background-color: #707070;
            position: absolute;
            left: 25px;
            width: 3px;
            height: calc(100% - 2px);
            z-index: -1;
            transition:all 0.4s ease;
        }
    }
    &__progress{
        background-color: $clr-secondary;
        position: absolute;
        left: 25px;
        width: 3px;
        height: 0%;
        z-index: -1;
        @include transition(all,0.5s,ease);

        &.visible{
            height: 0%;
        }
        &.visible-50{
            height: 50%;
        }
        &.visible-100{
            height: 100%;
        }
    }
    &__item{
        @include flex-center-vertical;
        color:$clr-primary !important;
    }
    &__circle{
        background: $clr-athens-gray;
        position: relative;
        width: rem(52);
        height: rem(52);
        line-height: 1.5em;
        border:1px solid $clr-black;
        margin-right: rem(25);
        @include border-radius(50%);
        @include flex-center;
        cursor: pointer;
        &:nth-of-type(1){
            @include breakpoint-lg{
                margin-top: 0;
            }
        }
        &.active{
            border-color: $clr-secondary;
            &::after{
                content:"";
                position: absolute;
                width: rem(26);
                height: rem(26);
                @include border-radius(50%);
                background-color: $clr-secondary;    
            }
        }
        &.visible{
            border-color: $clr-secondary;
            @include transition(all,0.5s,ease);
            &::after{
                content:"";
                position: absolute;
                width: rem(26);
                height: rem(26);
                @include border-radius(50%);
                background-color: $clr-secondary; 
                @include transition(all,0.5s,ease);   
            }
        }
    }
    &__title{
         opacity: 0.6;

         &.active{
            opacity: 1;
         }

         &.visible{
            opacity: 1;
         }
    }
    &__inner{
        padding-bottom: em(100);

        @include breakpoint-sm{
            padding-bottom: em(150);
        }
        @include breakpoint-md{
            padding-bottom: em(400);
        }
        // @include breakpoint-lg{
        //     padding-bottom: em(350);
        // }
        @include breakpoint-xl{
            padding-bottom: em(400);
        }
        &:nth-child(3){
            padding-bottom: 0;
        }
        p{
            opacity: 0.6;
            &.visible{
                opacity: 1;
                @include transition(all, 0.6s, ease);
            }
        }
    }
}

