@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.footer{

    &__top{
        background-color: $clr-primary;
        padding-block: rem(64);

        @include breakpoint-sm{
            padding-block: rem(100);
        }
        @include breakpoint-md{
            padding-block: rem(120) rem(197);
        }
        @include breakpoint-lg{
            padding-block: rem(154) rem(227);
        }
    }

    &__logo{
        height: rem(60);
    }
    &__bottom{
        padding-block: rem(32) rem(25);
    }

    &__grid{
        display: grid;
        grid-gap:1rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    &__list{
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
    }
    &__list-title{
        font-size: rem(18);
        line-height: 2;
        font-weight: 500;

        @include breakpoint-md{
            font-size: rem(20);
        }
        @include breakpoint-md{
            font-size: rem(24);
        }
    }
  
    &__item{
        font-weight: 300 !important;
    }
    
    &__link{
        transition:all 0.4s ease-in-out;

        &:hover{
            color:$clr-secondary;
        }

        svg{
            path{
                transition:all 0.4s ease-in-out;

            &:hover{
                fill:$clr-secondary;
            }
            }
        }
    }
}