@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


input, textarea{
    outline:none;
    border:none;
    border-bottom: 1px solid #bbb;
    width: 766px;
    max-width: 90%;
    font-size: rem(16);
    @include breakpoint-md{
        font-size: rem(18);
    }
    @include breakpoint-lg{
        font-size: rem(20);
    }
    @include breakpoint-xxl{
        font-size: rem(24);
    }
}
input{
    padding-block: 12px;
}

textarea{
    resize: none;
}

::placeholder{
    font-family: 'Poppins';
}

input:focus, 
textarea:focus{
    border-color: $clr-primary;
    @include transition(0.5s, ease-in);

    &::placeholder{
        opacity: 0;
    }
}

.radio{
    display: flex;
    align-items: center;
    gap:1rem;
    flex-wrap: wrap;
    overflow: hidden;

    &__input{
        display: none;

        // &:checked{
        //     &.radio__label{
        //         background-color:$clr-primary;
        //     }
        // }
    }

    &__label{
        border:1px solid $clr-primary;
        padding: em(12) em(40);
        @include transition(all, 0.5s, ease-in-out);

        &:hover{
            cursor: pointer;
            background-color: $clr-primary;
            color:$clr-white;
        }
        
    }
}


.radio__input:checked + .radio__label{
    background-color:$clr-primary;
    color:$clr-white;
}