@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

.nav{
    display:none;
    @include breakpoint-lg{
        display: block;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(32);
    }
    &__item{
        font-size: rem(16);
        font-weight: bold;
        &:hover{
            &::after{
                transform:scaleX(1);
            }
        }
    }
    &__link{
        @include transition(all, 0.4s, ease-in-out);
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            bottom:-6px;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $clr-secondary;
            @include transition(all, 0.4s, ease-in-out);
            transform:scaleX(0);
            transform-origin: left;
        }
        &:hover{
            color:$clr-secondary;
            &::after{
                transform:scaleX(1);
            }
        }
        &.active{
            color:$clr-secondary;
            &.nav__link{
                &::after{
                    transform:scaleX(1);
                }
            }
        }     
    } 
}
