@use "../abstract/colors" as *;
@use "../abstract/functions" as *;

.swiper-pagination{
    position:static !important;
}
.swiper-pagination--hero{
    margin-top: rem(133) !important;
}
.swiper-pagination--testimonial{
    margin-top: rem(72) !important;
}
.swiper-pagination-bullet{
    height: rem(17) !important;
    width: rem(17) !important;
    border-radius: 0 !important;
    background:$clr-white !important;
    opacity: 1 !important;
    border:1px solid $clr-secondary!important;
}
.swiper-pagination-bullet-active{
    height: rem(20) !important;
    width: rem(20) !important;
    background-color:$clr-secondary !important;
}
.swiper-pagination--hero
.swiper-pagination-bullet-active{
    background-color:$clr-secondary !important;
}

.swiper-button-prev, 
.swiper-button-next{
    position:static !important;
    margin: 0 !important;
}