// $clr-body:#fff;
$clr-primary:#192544;
$clr-secondary:#3965dd;
$clr-accent:#f4f5f7;
$clr-athens-gray:#f4f5f7;
$clr-white:#fff;
$clr-card:#f7f7fb;
$clr-seperator-line:#c1c1c1;
$bg-img:linear-gradient(359deg, #192544 98%, rgba(84,84,84,0) 15%);
