@use './fonts' as *;
@use './colors' as *;

// ======== background cover =========
@mixin background-cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

// ======== flex toolkit =========//
@mixin flex-column{
    display:flex;
    flex-direction: column;
}

@mixin flex-center{
    display:flex;
    justify-content: center;
    align-items:center;
}

@mixin flex-center-horizontal{
    display:flex;
    justify-content: center;
}

@mixin flex-center-vertical{
    display:flex;
    align-items:center;
}

@mixin flex-space-between{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

// ======== pseudo ============= //
@mixin pseudo-cover{
    content: '';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

// ======== setting font for header and body ======= //
// @mixin font-heading{
//     font-weight:bold;
// }

// @mixin font-body{
//     font-weight:normal;
// }

@mixin border-radius($val){
    border-radius:$val;
}

@mixin transition($property:all, $delay:0, $timing-func:ease){
    transition:$property $delay $timing-func;
}

@mixin transform-rotate($deg){
    transform:rotate($deg) ;
}